@model TalentoHumano.Web.Models.Contacto

@{
    Layout = null;
}

<div class="col-md-12">
    <h4 class="text-center text-warning">Contáctanos</h4>
    <label>Llena el formulario y un integrante del equipo te responderá.</label>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <i class="fa fa-phone-square m-2"><label class="ml-2">+593 993696782</label></i><br />
                    <a href="contac786@gmail.com" class="btn btn-primary"><i class="fa fa-envelope mr-1"></i>contac786@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control mt-1" placeholder="Nombre" id="nombres">
                                <input type="text" class="form-control mt-1" placeholder="Apellido" id="apellidos">
                                <input type="text" class="form-control mt-1" placeholder="Correo Electrónico" id="correoElectronico">
                                <input type="text" class="form-control mt-1" placeholder="Teléfono" id="telefono">
                                <input type="text" class="form-control mt-1" placeholder="Escribe tu mensaje" id="mensaje">
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary btn-sm"><i class="fa fa-share mr-1"></i>Enviar Mensaje</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
