@model TalentoHumano.Web.Models.NotificacionResponse

@{
    ViewBag.Title = "TablaPullNotification";
    Layout = null;
}

<table id="tabla" class="display table table-striped table-hover dataTable" aria-describedby="add-row_info">

    <thead class="bg-primary">
        <tr class="text-white">
            <th>Fecha Notificación</th>
            <th>Descripción</th>
            <th>Hora</th>
            <th>Integrante de Equipo</th>
        </tr>
    </thead>
    <tbody>
       <tr>
           <td>15/10/2021</td>
           <td>Ha Enviado una Solicitud de anticipo de sueldo</td>
           <td>15:20</td>
           <td>Emma Borbor</td>
       </tr>
    </tbody>
</table>
